@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

html,
body {
  background-color: #003366;
  color: #b0c4de;
  text-align: center;
  font-size: 20px;
  font-family: "Lobster", sans-serif;
}

div {
  overflow: hidden;
}

button {
  background-color: #003366;
  border-radius: 5px;
  border-width: 1px;
  border-color: #b0c4de;
  color: #b0c4de;
  font-size: 27px;
}

button:hover {
  border-radius: 5px;
  background-color: #0892d0;
}

#root {
  margin: 0 auto;
}

#start_stop,
#reset {
  font-family: inherit;
}

#start_stop {
  margin-right: 6px;
}

#reset {
  margin-left: 6px;
}

#pomodoro {
  display: inline-block;
}

#title {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Lobster";
  font-size: 100px;
  text-decoration: underline;
  text-decoration-color: #ffc958;
}

#subtitle,
a {
  margin-top: 50px;
  text-decoration: none;
  color: #ffc958;
  font-size: 22px;
  font-family: "Amatic SC";
}

a:hover {
  color: white;
}

#left {
  float: left;
  margin-right: 100px;
  display: flex;
  align-items: center;
}

#right {
  float: right;
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.minus {
  margin-right: 20px;
}
.plus {
  margin-left: 20px;
}

#center {
  margin: 0 auto;
}

#session_border {
  border: solid;
  border-color: #588bae;
  border-radius: 15px;
  margin-bottom: 50px;
}

#break-length,
#session-length {
  position: absolute;
  margin-top: 75px;
  margin-left: 150px;
  border-bottom: 1px solid black;
  border-color: #588bae;
  border-radius: 25%;
}

@media screen and (max-width: 1150px) {
  #left {
    margin-right: 50px;
  }

  #right {
    margin-left: 50px;
  }

  #break-label,
  #session-length,
  #break-length,
  #session-label,
  #time-left,
  #timer-label,
  #start_stop,
  #reset,
  #subtitle,
  #a {
    font-size: 25px;
  }

  #break-length,
  #session-length {
    margin-top: 50px;
    margin-left: 80px;
  }

  #title {
    font-size: 50px;
  }
  #session_border {
    margin-bottom: 20px;
  }
}